* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	
}
/* .pictureDiv {
	height: 100vh;

} */

.pictureDiv {
	background-position: center center;
	background-image: url("pictureLeft.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	text-align: center;
	
}

img {
	width: 50vw;
	height: 100vh;


}