* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;
	background-color: #F9FAFB;
}

@font-face {
	font-family: "Norse Bold";
	src: url("./Norse-Bold.otf");
  }

.odin {
	width: 80px;
	height: auto;
}

.odinText{
	font-size: 70px;
	font-family: Norse Bold;
	margin-top: 20px;
}

.writingLeft {
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: var(--text-color);
    top: 20%;
    height: 120px;
    width: 35%;
    background-color: #00000060;

}


.pictureDiv {
	background-position: center center;
	background-image: url("pictureLeft.jpg");
	background-size: cover;
	background: no-repeat;
	color: white;

	
	
}

img {
	width: 35vw;
	height: 100vh;
}


.formInfo{
	display: flex;
	flex-direction: column; 
	box-shadow:2px 2px 2px 2px #E5E7EB;
	height: 250px;
	background-color: white;
	
}

.inputBox{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2px;
}

.pInfo{
	
	font-size: 20px;
	padding: 20px;
	padding-bottom: 40px;
}

.pInfo2 {
	padding-top: 10px;
}

input{
	width: 250px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid lightgray;
}

input:invalid {
	border-color: red;
  }
  
  input:valid {
	border-color: lightgray;
  }
  


.left{
	float: left;
}

.right{
	float: right;
}

fieldset {
	width: 620px;
	padding: 30px;
	border: none;
	
}
 label {
	font-size: 12px;
	color: grey;
	
 }
 legend {
  font-size: 20px;
  padding-top: 10px;
 }

.buttonDiv {
/* margin-top: 10px; */
padding: 30px;

}

button {
	width: 170px;
	height: 39px;
	border-radius: 5px;
	border: none;
	background-color: #366272;
	color: white;
	font-family: 'Roboto Mono', monospace;
}

.accountDiv{
	padding: 30px;
	margin-top: -30px;
	font-size: 13px;
}